// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    h1{
        font-size: 4rem;
    }

    .jouer-link{
        padding: 1rem 5rem;
        background-color: $orange;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 15px;
        border: solid 4px $white;
        color: $white;
        font-size: 2rem;
        position: relative;
    }

    .jouer-link:hover{
        color: $white;
    }
}

.wave {
    position: absolute;
    width: 200vw;
    height: auto;
    bottom: -30vh;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite alternate;
    transform: translate3d(0, 0, 0);
}
  

  
@keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
}
  


.auth-container{
    width: 50%;
    display: block;
    margin: auto;
}

.home-svg{
    position: absolute;
    bottom: 0;
}